@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: "Funnel Sans", system-ui, sans-serif;
  font-weight: 700;
}

/* Contenedor principal */
.wrapper{
  position: relative;
  width: 100%;
}

/* Imagen REAL → define el alto del scroll */
.fondo{
  width: 100%;
  height: auto;
  display: block;
}

/* Reloj encima de la imagen */
.clock{
  position: absolute;
  left: 20vw;
  top: 60%;

  display: flex;
  align-items: baseline;
  gap: 0.12em;

  font-size: clamp(48px, 7vw, 110px);
  font-weight: 700;
  color: rgb(49, 49, 49);
  text-shadow: 0.25rem 0.25rem 0.6rem rgba(255,255,255,0.1);
}

#seconds{
  min-width: 2.3em;
}

.ampm{
  margin-left: -0.35em; /* 🔥 empuja a la izquierda */
  font-size: 1em;
}






