@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@700&display=swap');

:root{
  /* Ajustá ESTO y ya queda responsive */
  --clock-x: 10vw;   /* desde la izquierda */
  --clock-y: 52vh;   /* desde arriba */

  /* Tamaño responsive: mínimo 28px, ideal 6vw, máximo 64px */
  --clock-size: clamp(28px, 6vw, 64px);
}

*{ box-sizing: border-box; }

body{
  margin:0;
  height:100vh;
  background: url("./fondo.png") no-repeat center center / cover;
  font-family: "Funnel Sans", system-ui, sans-serif;
}

.clock{
  position: fixed;
  left: var(--clock-x);
  top: var(--clock-y);
  transform: translateY(-50%); /* centra respecto al punto Y */

  display:flex;
  align-items:baseline;
  gap: 0.12em;

  font-size: var(--clock-size);
  color: rgb(49, 49, 49);
  text-shadow: 0.25rem 0.25rem 0.6rem rgba(255,255,255,0.1);
  user-select: none;
}

#seconds{ min-width: 2.2em; }
.ampm{ margin-left: .25em; font-size: .6em; }
